boto3==1.34.59
opencv-python
torch==2.7.0
torchvision==0.22.0 # Angepasste Version für bessere Kompatibilität mit Torch 2.7.0 auf Python 3.13
matplotlib==3.10.3
numpy<2.3.0
pandas==2.2.2
requests==2.32.3
PyYAML
tqdm
seaborn