#System
venv-win*
venv_tools/
.idea/
.vscode
.DS_Store

#Legacy
legacy/

#Datensatz
training/yolov5/
training/gtsrb/zip/data/
*.ppm
**/GT-?????*.csv
?????_?????_?????.jpg
?????_?????_?????.png
?????_?????_?????.txt

#Training
labels.cache
*.pt
*.zip
*.mp4

