#System
venv-win*
venv_tools/
venv_video_gen/
.idea/
.vscode
.DS_Store
*.gsheet

#Legacy
legacy/

#Datensatz
training/yolov5/
training/gtsrb/zip/data/
training/SynsetSignsetGermany/
*.ppm
**/GT-?????*.csv
?????_?????_?????.jpg
?????_?????_?????.png
?????_?????_?????.txt

#Training
labels.cache
*.pt
*.zip

#Video-Generierung
analysis/video_gen/images/
*.mp4
